// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #1fc1c3;
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": (
    $white,
    $black
  ),
  "black": (
    $black,
    $white
  ),
  "light": (
    $light,
    $light-invert
  ),
  "dark": (
    $dark,
    $dark-invert
  ),
  "primary": (
    $primary,
    $primary-invert
  ),
  "info": (
    $info,
    $info-invert
  ),
  "success": (
    $success,
    $success-invert
  ),
  "warning": (
    $warning,
    $warning-invert
  ),
  "danger": (
    $danger,
    $danger-invert
  ),
  "twitter": (
    $twitter,
    $twitter-invert
  )
);

$table-head-background-color: $primary !important;
$table-head-cell-color: $primary-invert !important;
// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

body{
  background-color: #dbdbdb;
}
// Global Style
.card.card-shadow {
  border-radius: 10px;
    border: none;
  box-shadow: -12px -12px 12px O rgba(255, 255, 255, 0.6), 12px 12px 12px O rgba(0, 0, 0, 0.03);
  // box-shadow: 0 0 0 1px #d4d4d5, 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
  border: none;
}
.user-pic {
  background-image: url("https://www.sejasa.com/assets/icons/profile_pic-9f51819….png");
}
